<div class="container">
    <div class="row center">
        <h3>Random Beer</h3>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <div class="row center">
                <h5>{{ beer.name }}</h5>
                <img ng-src="{{ beer.labels.medium }}">
            </div>
            <div class="row center">
                <p>{{ beer.description }}</p>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="row center">
                <button ng-hide="sampledSelected" type="button" class="btn waves-effect waves-light" ng-click="sampled()">Sampled</button>
                <button ng-hide="sampledSelected" type="button" class="btn waves-effect waves-light" ng-click="notSampled()">Not Sampled</button>
            </div>
        </div>
    </div>
</div>